*{
	margin: 0;
	padding: 0;
}
.show-map{

	background-color: white!important;
	color: blue!important;
	border-color: blue!important;
	border-width: 2px!important;
}
.search{
	background-color: transparent !important;
	
}
.form-control{
	border-right: 0px !important;
}

.spamfont{
	font-weight: 500;
	font-size: 14px !important;
}